# {{ ansible_managed }}
Sync {
	Mode FTFW {
#		DisableExternalCache On
		CommitTimeout 1800
		PurgeTimeout 5
	}

	Multicast Default {
		IPv4_address {{ keepalived_conntrackd_multicast_address }}
		IPv4_interface {{ hostvars[inventory_hostname]['ansible_' + keepalived_conntrackd_interface]['ipv4']['address'] }}
		Group {{ keepalived_conntrackd_multicast_group }}
		Interface {{ keepalived_conntrackd_interface }}
		SndSocketBuffer 1249280
		RcvSocketBuffer 1249280
		Checksum on
	}
}

General {
	Nice -20
	HashSize 32768
	HashLimit 131072
	LogFile on
	Syslog on

	LockFile /var/lock/conntrack.lock
	UNIX {
		Path /var/run/conntrackd.ctl
		Backlog 20
	}
	NetlinkBufferSize 2097152
	NetlinkBufferSizeMaxGrowth 8388608
	Filter From Kernelspace {
		Protocol Accept {
			TCP
			UDP
			ICMP
		}
		Address Ignore {
			IPv4_address 127.0.0.1
{% for ip in keepalived_conntrackd_ignored_ips %}
			IPv4_address {{ ip }}
{% endfor %}
			IPv6_address ::1
		}
	}
}
