# {{ ansible_managed }}
global_defs {
    router_id VRRP_{{ ansible_hostname }}
{% if keepalived_vrrp_skip_check_adv_addr %}
    vrrp_skip_check_adv_addr
{% endif %}
{% if keepalived_vrrp_strict %}
    vrrp_strict
{% endif %}
{% if keepalived_global_enable_script_security %}
    enable_script_security
{% endif %}
    script_user {{ keepalived_global_script_user }}
}

{% if keepalived_vrrp_script is defined %}
{%  for track in keepalived_vrrp_script %}
vrrp_script {{ track.name }} {
{%    if track.script_template is defined %}
    script "{{ keepalived_config_dir }}/scripts/{{ track.name }}.sh"
{%    else %}
    script "{{ track.script }}"
{%    endif %}
{%    if track.interval is defined %}
    interval {{ track.interval }}
{%    endif %}
{%    if track.rise is defined %}
    rise {{ track.rise }}
{%    endif %}
{%    if track.fall is defined %}
    fall {{ track.fall }}
{%    endif %}
{%    if track.weight is defined %}
    weight {{ track.weight }}
{%    endif %}
}
{%  endfor %}
{% endif %}

{% for vrrp in keepalived_vrrp_instance %}
vrrp_instance {{ vrrp.name }} {
    state MASTER
    interface {{ vrrp.interface }}
    virtual_router_id {{ vrrp.id }}
{%  if vrrp.priority is defined %}
{%    set max_vrrp_priority = vrrp.priority | map(attribute="priority") | max %}
{%    set vrrp_priority = vrrp.priority | selectattr("name", "equalto", ansible_hostname) | map(attribute="priority") | max %}
{%    set bgp_priority = (max_vrrp_priority - vrrp_priority) + max_vrrp_priority %}
{%  else %}
{%    set vrrp_priority = 100 %}
{%    set bgp_priority = 100 %}
{%  endif %}
    priority {{ vrrp_priority }}
{%  if vrrp.advert_int is defined %}
    advert_int {{ vrrp.advert_int }}
{%  endif %}
{%  if vrrp.auth_pass is defined %}
    authentication {
        auth_type PASS
        auth_pass {{ vrrp.auth_pass }}
    }
{%  endif %}
{%  if vrrp.vip_mode|default("vrrp") == "vrrp" %}
    virtual_ipaddress {
{%    for vip in vrrp.vip %}
        {{ vip }}
{%    endfor %}
    }
{%  elif vrrp.vip_mode|default("vrrp") == "anycast" %}
    notify_master "{{ keepalived_config_dir }}/scripts/anycast_notify.sh INSTANCE {{ vrrp.name }} MASTER {{ vrrp.vip[0] }} {{ bgp_priority }}"
    notify_backup "{{ keepalived_config_dir }}/scripts/anycast_notify.sh INSTANCE {{ vrrp.name }} BACKUP {{ vrrp.vip[0] }} {{ bgp_priority }}"
    notify_fault "{{ keepalived_config_dir }}/scripts/anycast_notify.sh INSTANCE {{ vrrp.name }} FAULT {{ vrrp.vip[0] }}"
{%  endif %}
{%  if vrrp.track_interface is defined %}
    track_interface {
{%    for interface in vrrp.track_interface %}
        {{ interface }}
{%    endfor %}
    }
{%  endif %}
{%  if vrrp.track_script is defined %}
    track_script {
{%    for track in vrrp.track_script %}
        {{ track }}
{%    endfor %}
    }
{%  endif %}
{%  if vrrp.notify_script is defined %}
{%    for notify in vrrp.notify_script %}
    notify {{ notify }}
{%    endfor %}
{%  endif %}
{%  if vrrp.virtual_routes is defined %}
    virtual_routes {
{%    for route in vrrp.virtual_routes %}
        {{ route }}
{%    endfor %}
    }
{%  endif %}
{%  if vrrp.nopreempt|default(false) %}
    nopreempt
{%  endif %}
{%  if keepalived_conntrackd_enabled %}

    # Enable notification script for conntrackd
    notify_master "/etc/conntrackd/primary-backup.sh primary" root
    notify_backup "/etc/conntrackd/primary-backup.sh backup" root
    notify_fault "/etc/conntrackd/primary-backup.sh fault" root
{%  endif %}
{%  if keepalived_vrrp_unicast and vrrp.unicast_peer is defined %}

    # Enable unicast peers
    unicast_peer {
{%    for peer in vrrp.unicast_peer if peer != hostvars[inventory_hostname]['ansible_facts'][vrrp.interface]['ipv4']['address'] %}
        {{ peer }}
{%    endfor %}        
    }
{%  endif %}
}
{% endfor %}

{% for vs in keepalived_virtual_server %}
{% if vs.template is defined %}
{% include vs.template ~ "_keepalived.conf.j2" %}
{% else %}
{%  if vs.vip is defined %}
virtual_server {{ vs.vip }} {{ vs.port|default(0) }} {
{%  elif vs.fwmark is defined %}
virtual_server fwmark {{ vs.fwmark }} {
{%  endif %}
  ip_family {{ vs.ip_family|default("inet") }} 
  lvs_sched  {{ vs.lvs_sched|default("rr") }}
  lvs_method {{ vs.lvs_method|default("DR") }}
  persistence_timeout {{ vs.persistence_timeout|default(300) }}
  protocol {{ vs.protocol|default("TCP") }}
{%  if vs.delay_loop is defined %}
  delay_loop {{ vs.delay_loop }}
{%  endif %}
{%  if vs.sh_port|default(false) %}
  sh-port
{%  endif %}
{%  if vs.sh_fallback|default(false) %}
  sh-fallback
{%  endif %}
{%  if vs.alpha|default(false) %}
  alpha
{%  endif %}
{%  if vs.omega|default(false) %}
  omega
{%  endif %}
{%  if vs.hashed|default(false) %}
  hashed
{%  endif %}
{%  if vs.mh_port|default(false) %}
  mh-port
{%  endif %}
{%  if vs.mh_fallback|default(false) %}
  mh-fallback
{%  endif %}
{%  for rs in vs.real_server %}
  real_server {{ rs.ip }} {{ rs.port|default(vs.port|default(0)) }} {
    weight {{ rs.weight|default(1) }}
{%    if rs.checker is defined %}
{%      for checker in rs.checker %}
    {{ checker.method }} {
{%        if checker.method != "MISC_CHECK" %}      
      connect_ip {{ checker.connect_ip|default(rs.ip) }}
      connect_port {{ checker.connect_port|default(rs.port|default(vs.port|default(0))) }}
      connect_timeout {{ checker.connect_timeout|default(2) }}
{%        endif %}
{%        if checker.method == "HTTP_GET" or checker.method == "SSL_GET" %}
      url {
        path {{ checker.path|default("/") }}
{%          if checker.status_code is defined %}
        status_code {{ checker.status_code }}
{%          endif %}
      }
{%        endif %}
{%        if checker.method == "SSL_GET" and checker.enable_sni is defined %}
      enable_sni
{%        endif %}
{%        if checker.method == "MISC_CHECK" %}
{%          if checker.misc_path is defined %}
      misc_path "{{ checker.misc_path }}"
{%          endif %}
{%          if checker.misc_timeout is defined %}
      misc_timeout {{ checker.misc_timeout }}
{%          endif %}
{%          if checker.misc_dynamic is defined %}
      misc_dynamic
{%          endif %}
{%          if keepalived_global_enable_script_security %}
      user {{ keepalived_global_script_user }}
{%          endif %}
{%        endif %}
    }
{%      endfor %}
{%    endif %}
  }
{%  endfor %}
}
{% endif %}
{% endfor %}
