module {{ keepalived_selinux_module_name }} {{ keepalived_selinux_module_version }};

require {
        type keepalived_t;
        class capability { setgid setuid };
}

#============ keepalived_t ==============

allow keepalived_t self:capability setgid;
allow keepalived_t self:capability setuid;
