# Virtual server groups for Skype for Business Edge ({{ vs.name|default(vs.template) }})
virtual_server_group VS_s4b_edge_{{ vs.name|default(vs.template) }}_av {
    {{ vs.av.ip }} 3478
}

virtual_server_group VS_s4b_edge_{{ vs.name|default(vs.template) }}_int {
    {{ vs.int.ip }} 3478
}

# Virtual servers for Skype for Business Edge ({{ vs.name|default(vs.template) }})
virtual_server group VS_s4b_edge_{{ vs.name|default(vs.template) }}_av {
    ip_family {{ vs.ip_family|default("inet") }}
    lvs_sched lc
    lvs_method DR
    persistence_timeout 1800
    protocol UDP
    delay_loop 5
    alpha
    inhibit_on_failure
{% for real_server in vs.av.real_server %}
    
    real_server {{ real_server }} 3478 {
        weight 1

        # UDP check
        MISC_CHECK {
            misc_path "{{ keepalived_config_dir }}/scripts/udp_check.sh {{ real_server }} 3478"
{%      if keepalived_global_enable_script_security %}
            user {{ keepalived_global_script_user }}
{%      else %}
            user root
{%      endif %}
        }

        # ICMP check
        MISC_CHECK {
            misc_path "{{ keepalived_config_dir }}/scripts/icmp_check.sh {{ real_server }}"
{%      if keepalived_global_enable_script_security %}
            user {{ keepalived_global_script_user }}
{%      else %}
            user root
{%      endif %}
        }
    }
{% endfor %}
}

virtual_server group VS_s4b_edge_{{ vs.name|default(vs.template) }}_int {
    ip_family {{ vs.ip_family|default("inet") }}
    lvs_sched lc
    lvs_method NAT
    persistence_timeout 1800
    protocol UDP
    delay_loop 5
    alpha
    inhibit_on_failure
{% for real_server in vs.int.real_server %}
    
    real_server {{ real_server }} 3478 {
        weight 1

        # UDP check
        MISC_CHECK {
            misc_path "{{ keepalived_config_dir }}/scripts/udp_check.sh {{ real_server }} 3478"
{%      if keepalived_global_enable_script_security %}
            user {{ keepalived_global_script_user }}
{%      else %}
            user root
{%      endif %}
        }

        # ICMP check
        MISC_CHECK {
            misc_path "{{ keepalived_config_dir }}/scripts/icmp_check.sh {{ real_server }}"
{%      if keepalived_global_enable_script_security %}
            user {{ keepalived_global_script_user }}
{%      else %}
            user root
{%      endif %}
        }
    }
{% endfor %}
}
